.left,
.right{
    font-size: 32px;
    font-family: Helvetica, 'Times New Roman' , sans-serif;

}
.left{
color: white;
background-color: rgb(0, 0, 0);
}
.right{
color: hsl(140, 0, 0);
background-color: #ffff00;
}